<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Swapping</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../../static/css/swapping.css" rel="stylesheet">
    
    <script>
    	URL_LOGIN = "/login"
    </script>
    <script src="/static/js/SwappingApp/views/user_view.js"></script>
    <script src="/static/js/SwappingApp/util.js"></script>

</head>

<body>

    <div class="container">

        <div class="row headerback">
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="../../static/images/littleLogoSwappin.jpg">
                <!-- take out img-rounded if you don't want the rounded corners on the image -->
            </div>
        </div>

        <hr>

        <div class="row" style="margin: 0;">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                        </li>
                      </ul>
                       <ul class="nav navbar-nav navbar-right" style="margin-top: 8px;">
                        <li>Signed in as swapping</li>

                        <!-- Small modal -->
                            
                       <div id="loginModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                          <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                  <h1 class="text-center">Login</h1>
                              </div>
                              <div class="modal-body">
                                  <form method="POST" action="/SwappingApp/login/" class="form col-md-12 center-block">
                                  {% csrf_token %}
                                    <div class="form-group">
                                      <input name="username" id="username" type="text" class="form-control input-lg" placeholder="Username">
                                    </div>
                                    <div class="form-group">
                                      <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                    	<a href="{% url 'socialauth_begin' 'twitter' %}"><img src="../static/images/sig-in-twitter.png" /></a>
                                    	<a href="{% url 'socialauth_begin' 'facebook' %}"><img src="../static/images/login-facebook.jpg" /></a>
                                    	<a href="{% url 'socialauth_begin' 'google-oauth2' %}"><img src="../static/images/sign_in_with_google.jpg" /></a>
                                    </div>
                                    <div class="form-group">
                                      <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                                      <span class="pull-right"><a href="#" onclick="user_view_create_form();">Register</a></span><span><a href="#">Need help?</a></span>
                                    </div>
                                  </form>
                              </div>
                              <div class="modal-footer" style="border-top: 0px;">
                                  <div class="col-md-12">
                                  <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                                  </div>    
                              </div>
                          </div>
                          </div>
                        </div><!-- modal -->
                      </ul><!-- /.navbar-right -->
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
            </div>
        </div>

        <div class="col-md-9" id="content-body">
            <!-- advertises -->
            <div class="row">

                <div class="col-md-4 portfolio-item" id="product">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <p>This would be a great spot to feature some brand new products!</p>
                            <hr class="productHr">
                            <p style="margin:0;">
                                <span class="glyphicon glyphicon-ok">  Trusted user</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 portfolio-item">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <p>This would be a great spot to feature some brand new products!</p>
                            <hr class="productHr">
                            <p style="margin:0;">
                               <span class="glyphicon glyphicon-asterisk">  New user</span>
                            </p>
                        </div>
                    </div>
                </div>

                 <div class="col-md-4 portfolio-item">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <p>This would be a great spot to feature some brand new products!</p>
                            <hr class="productHr">
                            <p style="margin:0;">
                               <span class="glyphicon glyphicon-asterisk">  New user</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4 portfolio-item">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <p>This would be a great spot to feature some brand new products!</p>
                            <hr class="productHr">
                            <p style="margin:0;">
                                <span class="glyphicon glyphicon-asterisk">  New user</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 portfolio-item">
                   <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <p>This would be a great spot to feature some brand new products!</p>
                            <hr class="productHr">
                            <p style="margin:0;">
                                <span class="glyphicon glyphicon-ok">  Trusted user</span>
                            </p>
                        </div>
                    </div>
                </div>

                 <div class="col-md-4 portfolio-item">
                   <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <p>This would be a great spot to feature some brand new products!</p>
                            <hr class="productHr">
                            <p style="margin:0;">
                                <span class="glyphicon glyphicon-asterisk">  New user</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4 portfolio-item">
                   <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <p>This would be a great spot to feature some brand new products!</p>
                            <hr class="productHr">
                            <p style="margin:0;">
                                <span class="glyphicon glyphicon-asterisk">  New user</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 portfolio-item">
                  <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <p>This would be a great spot to feature some brand new products!</p>
                            <hr class="productHr">
                            <p style="margin:0;">
                                <span class="glyphicon glyphicon-ok">  Trusted user</span>
                            </p>
                        </div>
                    </div>
                </div>

                 <div class="col-md-4 portfolio-item">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <p>This would be a great spot to feature some brand new products!</p>
                            <hr class="productHr">
                            <p style="margin:0;">
                                <span class="glyphicon glyphicon-fire">  Suspicious user</span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <hr>

            <div class="row text-center">

                <div class="col-md-12">
                    <ul class="pagination">
                        <li><a href="#">«</a>
                        </li>
                        <li class="active"><a href="#">1</a>
                        </li>
                        <li><a href="#">2</a>
                        </li>
                        <li><a href="#">3</a>
                        </li>
                        <li><a href="#">4</a>
                        </li>
                        <li><a href="#">5</a>
                        </li>
                        <li><a href="#">»</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
        <!--advertises colum-->

        <!--sides-->
         <div class="col-md-3">
            <div class="well">
                <h4>Search products!</h4>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /well -->
            <div class="well">
                <h4>Featured sales</h4>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://placehold.it/210x200" alt="">
                        <div class="col-md-12 featuredBox">
                            <div class="col-md-7 txt">Product 1</div>
                            <div class="col-md-5 cash"><strong>XX<em>.XX€</em></strong></div>
                        </div>
                    </div>
                    <div class="item">
                      <img src="http://placehold.it/210x200" alt="">
                      <div class="col-md-12 featuredBox">
                            <div class="col-md-7 txt">Product 2</div>
                            <div class="col-md-5 cash"><strong>XX<em>.XX€</em></strong></div>
                        </div>
                    </div>
                    <div class="item">
                      <img src="http://placehold.it/210x200" alt="">
                      <div class="col-md-12 featuredBox">
                            <div class="col-md-7 txt">Product 3</div>
                            <div class="col-md-5 cash"><strong>XX<em>.XX€</em></strong></div>
                        </div>
                    </div>
                  </div> 

                  <!-- Controls -->
                  <a class="carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="carousel-control" href="#carousel-example-generic" data-slide="next" style="right: 0; left: auto;">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
            </div>
            <!-- /well -->
        </div>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Company 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="/static/js/external/Bootstrap/jquery-1.10.2.js"></script>
    <script src="/static/js/external/Bootstrap/bootstrap.js"></script>

</body>

</html>
